.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:5px;
    padding: 0.5rem;
    /* border: 2px black; */
    border-style: outset;
    box-shadow: 7px 7px 3px rgb(250, 231, 213);
}

.nav-items>ul{
    list-style-type: none;
    display: flex;
}

.nav-items>ul>li{
    padding: 10px;
}
.logo{
    margin: 5px;
    width: 50px;
   
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading{
    color: black;
    font-size: 1.2rem;
    text-shadow: 0 0 3px #f16c1f, 0 0 5px #ffc400;
}